@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html,body { height:100%; }
header{
    color: #afafbf;
    background-color: #171c28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 5vh;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; /* Hide scrollbar */
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #afafbf;
}
h1{
    background-color: #afafbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 10%;
    height: 1vh;
}
h3, h5{
    padding: 1em;
}
.canvasContainer{
    position: relative;
    margin: 1em .5em;
    margin-top: 0em;
    height: 88vh;
}